* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0 20%;
}
.main {
    margin: 20px;
}
h5 {
    margin-bottom: 10px;
    font-size: 28px;
    color: rgb(241, 152, 167);
    font-weight: 500;
}

.card {
    background-color: white;
    border-radius: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: 700px;
}
.card {
    display: flex;
    flex-basis: 50%;
}
.card-img {
    overflow: auto;
    width: 100%;
}
.card-img img {
    margin: 20%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 17px;
    width: 50%;
    height: 50%;
}
.card-body {
    padding: 5px;
    width: 100%;
}
.card-body {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card-category p {
    color: rgb(241, 152, 167);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.card-name p {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.card-price p {
    color: rgb(241, 152, 167);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-description {
    color: #000;
    font-size: 16px;
    margin-bottom: 15px;
}
.card-footer {
    width: 100%;
}
.add-btn {
    background-color: rgb(241, 152, 167);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 35px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(210, 138, 150);
}
.submit-btn {
    background-color: rgb(245, 162, 176);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
input{
    width: 400px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    color: rgb(245, 162, 176);
}
input::placeholder {
    color:  rgb(245, 162, 176);
}